<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Harry Skins</title>
</head>
<body>
    <header>
        <div class="head">
            <a href="/">Harry xP</a>
            <div class="links">
                <a href="/">Inicio</a>
                <a href="/skins">Skins</a>
                <a href="/contato">Contato</a>
            </div>
            <div id="banner">
                <a href="" alt="banner"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="cards">
            <div class="card">
                <a href="" alt="item"></a>
            </div>
        </div>
    </main>
</body>
</html>